<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_ORDER(
			RESTAURANTID,	
			USERID,	
			CREATETIME,	
			TOTALPRICE,	
			CONTACT,	
			PHONE,	
			ADDRESS,	
			ARRIVETIME,	
			EVALUATION,	
			STATUS,	
			ORDER_ID
		) values (
			#{RESTAURANTID},	
			#{USERID},	
			#{CREATETIME},	
			#{TOTALPRICE},	
			#{CONTACT},	
			#{PHONE},	
			#{ADDRESS},	
			#{ARRIVETIME},	
			#{EVALUATION},	
			#{STATUS},	
			#{ORDER_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_ORDER
		where 
			ORDER_ID = #{ORDER_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_ORDER
			set 
				RESTAURANTID = #{RESTAURANTID},
				USERID = #{USERID},
				CREATETIME = #{CREATETIME},
				TOTALPRICE = #{TOTALPRICE},
				CONTACT = #{CONTACT},
				PHONE = #{PHONE},
				ADDRESS = #{ADDRESS},
				ARRIVETIME = #{ARRIVETIME},
				EVALUATION = #{EVALUATION},
				STATUS = #{STATUS},
			ORDER_ID = ORDER_ID
			where 
				ORDER_ID = #{ORDER_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			RESTAURANTID,	
			USERID,	
			CREATETIME,	
			TOTALPRICE,	
			CONTACT,	
			PHONE,	
			ADDRESS,	
			ARRIVETIME,	
			EVALUATION,	
			STATUS,	
			ORDER_ID
		from 
			TB_ORDER
		where 
			ORDER_ID = #{ORDER_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.RESTAURANTID,	
				a.USERID,	
				a.CREATETIME,	
				a.TOTALPRICE,	
				a.CONTACT,	
				a.PHONE,	
				a.ADDRESS,	
				a.ARRIVETIME,	
				a.EVALUATION,	
				a.STATUS,	
				a.ORDER_ID
		from 
				TB_ORDER a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.RESTAURANTID,	
				a.USERID,	
				a.CREATETIME,	
				a.TOTALPRICE,	
				a.CONTACT,	
				a.PHONE,	
				a.ADDRESS,	
				a.ARRIVETIME,	
				a.EVALUATION,	
				a.STATUS,	
				a.ORDER_ID
		from 
				TB_ORDER a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_ORDER
		where 
			ORDER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>