<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RestaurantMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_RESTAURANT(
			RESTAURANTNAME,	
			ADDRESS,	
			INFO,	
			TELPHONE,	
			TYPE,	
			STATUS,	
			WORKTIME,	
			PICTURE,	
			RESTAURANT_ID
		) values (
			#{RESTAURANTNAME},	
			#{ADDRESS},	
			#{INFO},	
			#{TELPHONE},	
			#{TYPE},	
			#{STATUS},	
			#{WORKTIME},	
			#{PICTURE},	
			#{RESTAURANT_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_RESTAURANT
		where 
			RESTAURANT_ID = #{RESTAURANT_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_RESTAURANT
			set 
				RESTAURANTNAME = #{RESTAURANTNAME},
				ADDRESS = #{ADDRESS},
				INFO = #{INFO},
				TELPHONE = #{TELPHONE},
				TYPE = #{TYPE},
<!-- 				STATUS = #{STATUS}, -->
<!-- 				PICTURE = #{PICTURE}, -->
				WORKTIME = #{WORKTIME}
<!-- 			RESTAURANT_ID = RESTAURANT_ID -->
			where 
				RESTAURANT_ID = #{RESTAURANT_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			RESTAURANTNAME,	
			ADDRESS,	
			INFO,	
			TELPHONE,	
			TYPE,	
			STATUS,	
			WORKTIME,	
			PICTURE,	
			RESTAURANT_ID
		from 
			TB_RESTAURANT
		where 
			RESTAURANT_ID = #{RESTAURANT_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.RESTAURANTNAME,	
				a.ADDRESS,	
				a.INFO,	
				a.TELPHONE,	
				a.TYPE,	
				a.STATUS,	
				a.WORKTIME,	
				a.PICTURE,	
				a.RESTAURANT_ID
		from 
				TB_RESTAURANT a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.RESTAURANTNAME,	
				a.ADDRESS,	
				a.INFO,	
				a.TELPHONE,	
				a.TYPE,	
				a.STATUS,	
				a.WORKTIME,	
				a.PICTURE,	
				a.RESTAURANT_ID
		from 
				TB_RESTAURANT a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_RESTAURANT
		where 
			RESTAURANT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>