* {
    margin: 0;
    padding: 0;
    /*font-family: "΢���ź�";*/
    line-height: 150%;
}

body {
    background-color: #F7F7F7;
}

.sidebar {
    background-color: #504d53;
    bottom: 0;
    position: fixed;
    right: -295px;
    top: 0;
    transition: transform 0.3s ease-in-out 0s;
    width: 330px;
    z-index: 7;
}

.toolbar-tabs-middle {
    margin-top: -220px;
    position: absolute;
    top: 50%;
    width: 35px;
}

.win-backtop {
	position: absolute;
	right: 10px;
	bottom: 0;
	writing-mode: tb-rl;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    padding: 5px;
}

.toolbar-cartbtn {
    /*font-size: 14px;*/
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 5px;
}

#nav-link a {
    margin-top: 20px;
    color: #ccc;
    padding: 5px;
}

#nav-link a:hover {
    background-color: #4eba16;
}

#nav-link a:visited, .win-backtop:hover {
	color: #fff;
	font-weight: bolder;
    background-color: #4eba16;
}

.item img {
    width: 100%;
    height: 300px;
}

.media-inline .media {
    margin-right: 0;
}

.shop {
    font-size: 12px;
}

.shop .media-inline {
    position: relative;
}

.shop .media-inline a {
    height: 140px;
    border-left: 1px rgba(133, 133, 133, 0.2) solid;
    border-top: 1px rgba(133, 133, 133, 0.2) solid;
    border-bottom: 1px rgba(133, 133, 133, 0.2) solid;
    padding: 20px;
    background-color: #FFFFFF;
}

.shop .media-inline a:hover {
    color: gray;
    background: rgba(133, 133, 133, 0.1);
    cursor: pointer;
}

.shop-logo, .ico-a {
    float: left;
}

.shop-logo img {
    width: 80px;
    height: 80px;
}

.ico {
    padding-top: 10px;
    text-align: justify;
}

.ico-a {
    margin: 0 15px;
}

.ico-a img {
    width: 50px;
    height: 50px;
}

.shop-logo span, .ico-a span {
    display: block;
    text-align: center;
}

.ico-a span {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
}

.shop-content {
    padding-left: 10px;
    font-size: 12px;
}

.shop-content div {
    line-height: 28px;
}

.shop-name, .food-name {
    font-weight: 600;
    font-size: 16px;
}

.shop-content .shop-starrating {
    position: relative;
    top: 10px;
    line-height: 10px;
}

.shop-monthsales {
	margin-top: -15px;
}

.shop-info {
    width: 300px;
    height: auto;
    margin-top: 3px;
    padding: 20px 10px 20px 10px;
    background-color: #FFFFFF;
    border: 1px rgba(133, 133, 133, 0.8) solid;
    box-shadow: 0 0 15px darkgray;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.shop-info-hide {
    display: none;
}

.shop-info-show {
    display: block;
}

.shop-info p span {
    line-height: 150%;
}

/*ȫ��select��ʽ*/
.ui-select {
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #FFFFFF;
}

.ui-select select {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    top: 0;
    left: 0;
    /*margin-left: -40px;*/
    opacity: 0.01;
}