<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- spring可以自动去扫描base-package下面或者子包下面的java文件， 如果扫描到有@Component @Controller 
		@Service @Repository等这些注解的类，则把这些类注册为bean -->
	<context:component-scan base-package="com.hzj.*" />

	<!--不拦截css、js、images等静态资源 -->
	<mvc:default-servlet-handler />
	<mvc:resources location="css/" mapping="/css/**" />
	<mvc:resources location="js/" mapping="/js/**" />
	<mvc:resources location="images/" mapping="/images/**" />
	<mvc:resources location="ico/" mapping="/ico/**" />

	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />

	<!-- 通用视图解析器 模型解析，在请求时为模型视图名称添加前后缀 比如在controller类中需要请求/WEB-INF/page/index.jsp文件，直接写index就可以了 -->
	<!-- <bean -->
	<!-- class="org.springframework.web.servlet.view.InternalResourceViewResolver" -->
	<!-- p:prefix="/WEB-INF/views/"> -->
	<!-- </bean> -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

</beans>
